@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;

}

.body{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
   


}
@media (max-width: 991px) {
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
}

.header .btn button{
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: black;
    border: solid;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
     }

     
img{
    width: 100%;
    display: block;

}

h1{
    margin-top: 20px;
    text-align: center;
    color: aquamarine;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.card{
    background-color: white;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 90%);
    
}

.card-header img{
    border-radius: 15px;
}

.card-body{
    padding: 20px 15px;
    text-align: justify;
    
}

.boton{
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: black;
    border: solid;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: block;
    text-align: center;
    margin-top: 10px;

}

@media(min-width: 480px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:  10px;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    .card-body{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .card-description{
        flex-grow: 1;

    }
}


footer{
    position: end;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(17, 16, 16, 0.7);
    backdrop-filter: blur(20px);
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 10px;
    color: white;
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}



